# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out
build
dist

# Environment
.env
.env*.local
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/migrations

# Uploads
uploads/
temp/

# Docker
docker-volumes/
